<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>723DE5351A49353C00C357E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>723DE59E1A4938DD00C357E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72D797B71A43F44D00D32E7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>898845D11A490CE000003EF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
